.textRegular__default {
  color: $textColour;
  font-size: $textRegular;
  line-height: 1.6;
  padding-bottom: $baseSize;
  padding-top: $sizeS;
  margin: 0;
}

.textSmall__default {
  color: $textColour;
  font-size: $textSmall;
  line-height: 1.6;
  padding-bottom: $baseSize;
  padding-top: $sizeS;
  margin: 0;
}


.smallHeadline__default {
  font-weight: $textBold;
  font-size: $textLarge;
  color: $accentColour;
  margin-bottom: $sizeXS;
}

.mediumHeadline__default {
  font-weight: $textRegular;
  font-size: $textLarge;
  color: $subtleColour;
  margin: $sizeXXL 0 $sizeXS;
}

.largishHeadline__default {
  font-weight: $textBold;
  font-size: $textLarger;
  color: $textColour;
  margin-top: 0;
  margin-bottom: $sizeM;
}

.largeHeadline__default {
  font-weight: $textBold;
  font-size: $textLargest;
  color: $textColour;
  max-width: 55rem;
  margin-top: $sizeXXS;

  @include breakpoint(phone) {
    font-size: $textLarger;
  }
}