@import '../helpers/variables.scss';
@import '../helpers/grid.scss';
@import '../helpers/typography.scss';

.footer {
  margin: $sizeXXL 0;
  font-size: $sizeM;
  color: $subtleColour;
  
  .flexGroup {
    @extend .flexGroup, .gutterSmall, .justifyContentCenter;

    .flexItem {
      @extend .flexItem, .growZero;
    }
  }
}

.socialLogo {
  color: $accentColour;
  opacity: 0.4;
  height: 1.4rem;
  width: 1.4rem;
  vertical-align: baseline;

  &:hover {
    cursor: pointer;
    opacity: 1;
    transition: ease-in 0.6s opacity;
  }
}