@import '../helpers/variables.scss';
@import '../helpers/grid.scss';
@import '../helpers/typography.scss';

.list {
  list-style: none;
  padding-left: 0;
}

.blogPost {
  @extend .flexGroup;
  max-width: 78%;
  padding-bottom: $sizeXL;

  &:hover {
    cursor: pointer;
  }

  .border {
    border-bottom: 1px solid $separatorColour;
    width: 78%;
  }

  @include breakpoint(phone) {
    max-width: 96%;
  }
}

.dateHeadline {
  @extend .mediumHeadline__default;
}

.blogHeadline {
  @extend .largishHeadline__default;
}

.blogAbstract {
  @extend .textRegular__default;
}

.blogButton {
  @extend .flexItem-growZero;
  background: rgba(139, 113, 46, 0.6);
  color: white;
  padding: $sizeS $sizeL;
  border-radius: 2rem;

  &:hover {
    background: rgba(139, 113, 46, 0.4);;
  }
}