@import '../helpers/variables.scss';
@import '../helpers/grid.scss';
@import '../helpers/typography.scss';

.postContainer {
  margin: $sizeL 0;

  time {
    color: $subtleColour;
  }

  p, ul {
    color: $textColour;
    line-height: 1.5;
    max-width: 78%;
  
    &.centred {
      margin: 0 auto;
      display: block;
    }
  }

  li {
    margin: $sizeM 0;
  }

  a {
    color: $accentColour;

    &:hover {
      text-decoration: underline;
    }
  }
}